body {
	background-color: rgb(243, 243, 243);
}

.custom-card {
	max-width: 25rem;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(0, 245, 151);
}

.custom-form {
	max-width: 25rem;
	margin-left: auto;
	margin-right: auto;
}
